* {
  box-sizing: border-box;
}

html,
body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#kanbanBoard {
  display: flex;
  column-gap: 24px;
  padding: 48px;
  width: 100%;
  height: 100%;
}

.swimlane {
  border: 1px solid white;
  /* กำหนดขนาดเริ่มต้นที่ 1 ส่วน */
  flex-basis: 1px;
  /* ไม่ย่อขนาดเมื่อพื้นที่ไม่พอ */
  flex-shrink: 0;
  /* ขยายตัวเมื่อมีพื้นที่เหลือ */
  flex-grow: 1;
}

.card {
  padding: 16px;
  border-radius: 4px;
  .toDo & {
    background-color: blue;
  }
  .inProgress & {
    background-color: deeppink;
  }
  .done &{
    background-color: chocolate;
  }
}

#dragged{
  background: red;
}